/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header-left img {
    width: 200px;
  }
  
  /* 네비게이션 바 */
  .navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  /* Contents */
  .container {
    margin-top: 50px;
  }
  
  .card-deck {
    margin: 0 auto;
  }
  
  .card {
    width: 18rem;
    margin-bottom: 30px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Footer */
  footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  